.Field{
    column-span: 1;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: firebrick;
 }
  
 .displaybg{
    background-color: #90AFC5; /* White */
    color: #000000;
 }
 .infobg{
    background-color: #336b87; /* Dark Blue */
    color: #ffffff;
 }
 .configbg{
    background-color: #763626; /* Green */
    color: #ffffff;
 }

 .pcloud {
    margin: 90 0 0 0 
 }